<a href="https://colab.research.google.com/github/IrfanChairurrachman/kuylah-backend/blob/main/inventory/tfrs.ipynb" target="_parent"> <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KUYLAH by Stackoverthink

This code is kuylah collaborative filtering for recommendation system for kuylah user.

We build 2 models, content based filtering with sckit-learn and collaborative filtering with tensorflow

![Recommendation System](https://github.com/IrfanChairurrachman/kuylah-backend/blob/main/inventory/rs.png?raw=1)

Collaborative filtering is a technique widely used by recommendation systems for having a decent size of user dan data. It makes recommendation based on the content preferences of similiar users.

The collaborative filtering approach focuses on finding users who have given similar ratings to the same destinations, thus creating a link between users, to whom will be suggested destinations that were reviewed in a positive way. In this way, we look for associations between users, not between destinations. Therefore, collaborative filtering relies only on observed user behavior to make recommendations — no profile data or content data is necessary.



---


Therefore, collaborative filtering is not a suitable model to deal with cold start problem, in which it cannot draw any inference for users or items about which it has not yet gathered sufficient information.

But once we have relative large user — item interaction data, then collaborative filtering is the most widely used recommendation approach. That is why we still generated ratings.csv by ourselves which contains 1000 users and each user gave 10 destination feedbacks

In [ ]:
# Upload dataset.csv and ratings.csv file for training
from google.colab import files
files.upload()

In [3]:
# Import necessary modules
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [4]:
# read csv files as pandas dataframe
rating = pd.read_csv('ratings.csv', error_bad_lines=False, encoding="latin-1")
destination = pd.read_csv('dataset.csv', error_bad_lines=False, encoding="latin-1")

In [5]:
rating.head()

   user_id  index  ratings
0        1     31        1
1        1     29        5
2        1     91        4
3        1      3        4
4        1     37        1

In [6]:
destination.head()

   index  ...                                        description
0      0  ...  Candi yang pernah masuk sebagai salah satu dar...
1      1  ...  Candi Prambanan adalah kompleks candi Hindu te...
2      2  ...  Tebing Breksi merupakan tempat wisata yang ber...
3      3  ...  Gambira Loka adalah kebun binatang yang berada...
4      4  ...  Kompleks keraton merupakan museum yang menyimp...

[5 rows x 10 columns]

In [7]:
# Merge rating and destination based on index (destination primary key)
dest_rating = pd.merge(rating, destination, on='index')
cols = ['vote_average', 'vote_count', 'type', 'htm_weekday', 'htm_weekend', 'latitude', 'longitude', 'description']
dest_rating.drop(cols, axis=1, inplace=True)
dest_rating.head()

   user_id  index  ratings                      nama
0        1     31        1  De Mata Trick Eye Museum
1       27     31        4  De Mata Trick Eye Museum
2       30     31        4  De Mata Trick Eye Museum
3       30     31        1  De Mata Trick Eye Museum
4       30     31        2  De Mata Trick Eye Museum

In [8]:
# count how many destinations have reviewed
rating_count = (dest_rating.
     groupby(by = ['nama'])['ratings'].
     count().
     reset_index().
     rename(columns = {'ratings': 'RatingCount_dest'})
     [['nama', 'RatingCount_dest']]
    )
rating_count

                             nama  RatingCount_dest
0                  Affandi Museum                85
1       Agro Tourism Bhumi Merapi               109
2         Air Terjun Kedung Pedut               100
3                Balong Waterpark                93
4              Bendungan Kamijoro                90
..                            ...               ...
137  Wisata Air Wanatirta Kencana               115
138        Wisata Alam Watu Amben               107
139               Wisata Kalibiru               107
140        Wisata Telaga Potorono                97
141                     XT Square               109

[142 rows x 2 columns]

In [9]:
rating_count['RatingCount_dest'].describe()

count    142.000000
mean     105.838028
std        9.992648
min       84.000000
25%       98.000000
50%      107.000000
75%      113.000000
max      132.000000
Name: RatingCount_dest, dtype: float64

In [13]:
threshold = 95
rating_count = rating_count.query('RatingCount_dest >= @threshold')
rating_count.head()

                         nama  RatingCount_dest
1   Agro Tourism Bhumi Merapi               109
2     Air Terjun Kedung Pedut               100
5           Blue Lagoon Jogja               114
6               Bukit Klangon               116
9  Bukit Paralayang Watugupit               116

In [14]:
rating_count.shape

(123, 2)

In [15]:
# merge rating_coun and dest_count
user_rating = pd.merge(rating_count, dest_rating, left_on='nama', right_on='nama', how='left')
user_rating.head()

                        nama  RatingCount_dest  user_id  index  ratings
0  Agro Tourism Bhumi Merapi               109        1     29        5
1  Agro Tourism Bhumi Merapi               109        1     29        2
2  Agro Tourism Bhumi Merapi               109       16     29        3
3  Agro Tourism Bhumi Merapi               109       17     29        5
4  Agro Tourism Bhumi Merapi               109       32     29        1

In [16]:
user_count = (user_rating.
     groupby(by = ['user_id'])['ratings'].
     count().
     reset_index().
     rename(columns = {'ratings': 'RatingCount_user'})
     [['user_id', 'RatingCount_user']]
    )
user_count

     user_id  RatingCount_user
0          1                14
1          2                19
2          3                11
3          4                12
4          5                11
..       ...               ...
995      996                18
996      997                14
997      998                10
998      999                18
999     1000                12

[1000 rows x 2 columns]

In [17]:
user_count['RatingCount_user'].describe()

count    1000.000000
mean       13.335000
std         3.172198
min         6.000000
25%        11.000000
50%        13.000000
75%        16.000000
max        20.000000
Name: RatingCount_user, dtype: float64

In [18]:
combined = user_rating.merge(user_count, left_on = 'user_id', right_on = 'user_id', how = 'inner')
combined

                                               nama  ...  RatingCount_user
0                         Agro Tourism Bhumi Merapi  ...                14
1                         Agro Tourism Bhumi Merapi  ...                14
2                           Air Terjun Kedung Pedut  ...                14
3                                         Candi Ijo  ...                14
4                                        Candi Sari  ...                14
...                                             ...  ...               ...
13330                             Stonehenge Merapi  ...                15
13331                                 Tebing Breksi  ...                15
13332  The World Landmarks - Merapi Park Yogyakarta  ...                15
13333  The World Landmarks - Merapi Park Yogyakarta  ...                15
13334                        Wisata Alam Watu Amben  ...                15

[13335 rows x 6 columns]

In [19]:
combined.shape

(13335, 6)

In [20]:
print('Number of unique destination: ', combined['nama'].nunique())
print('Number of unique users: ', combined['user_id'].nunique())

Number of unique destination:  123
Number of unique users:  1000

In [21]:
# Normalize the ratings with MinMaxScaler
scaler = MinMaxScaler()
combined['ratings'] = combined['ratings'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['ratings'].values.reshape(-1,1)))
combined['ratings'] = rating_scaled

In [22]:
combined

                                               nama  ...  RatingCount_user
0                         Agro Tourism Bhumi Merapi  ...                14
1                         Agro Tourism Bhumi Merapi  ...                14
2                           Air Terjun Kedung Pedut  ...                14
3                                         Candi Ijo  ...                14
4                                        Candi Sari  ...                14
...                                             ...  ...               ...
13330                             Stonehenge Merapi  ...                15
13331                                 Tebing Breksi  ...                15
13332  The World Landmarks - Merapi Park Yogyakarta  ...                15
13333  The World Landmarks - Merapi Park Yogyakarta  ...                15
13334                        Wisata Alam Watu Amben  ...                15

[13335 rows x 6 columns]

In [23]:
# transform the dataframe into matris for training sake
combined = combined.drop_duplicates(['user_id', 'nama'])
user_dest_matrix = combined.pivot(index='user_id', columns='nama', values='ratings')
user_dest_matrix.fillna(0, inplace=True)

users = user_dest_matrix.index.tolist()
dests = user_dest_matrix.columns.tolist()

user_dest_matrix = user_dest_matrix.values

In [24]:
user_dest_matrix

array([[1.  , 0.75, 0.  , ..., 0.  , 1.  , 0.  ],
       [0.  , 0.25, 0.  , ..., 0.  , 1.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       ...,
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , ..., 0.  , 0.  , 0.5 ]])

In [25]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [26]:
# We will initialize the TensorFlow placeholder. 
# Then, weights and biases are randomly initialized, 
# the following code are taken from the book: Python Machine Learning Cook Book - Second Edition
num_input = combined['nama'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [27]:
# Build the encode and decoder model
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [28]:
# Construct the model and the predictions
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

y_pred = decoder_op

y_true = X

In [29]:
# Define loss function, optimizer, minimize the squared error, and evaluation metrics
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/training/rmsprop.py:123: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [30]:
# Initialize the variables. 
# Because TensorFlow uses computational graphs for its operations, placeholders and variables must be initialized.
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

We start training our model.
- We split training data into batches, and we feed the network with them.
- We train our model with vectors of user ratings, each vector represents a user and each column a destination, and entries are ratings that the user gave to destination.
- After a few trials, we discovered that training model for 500 epochs with a batch size of 35 would be consuming enough memories. This means that the entire training set will feed our neural network 100 times, every time using 35 users.
- At the end, we must make sure to remove user’s ratings in the training set. That is, we must not recommend destinations to a user in which he (or she) has already rated.

In [31]:
with tf.Session() as session:
    epochs = 500
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_dest_matrix.shape[0] / batch_size)
    user_dest_matrix = np.array_split(user_dest_matrix, num_batches)
    
    for i in range(epochs):

        avg_cost = 0
        for batch in user_dest_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_dest_matrix = np.concatenate(user_dest_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_dest_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='nama')
    pred_data.columns = ['user_id', 'nama', 'ratings']
    pred_data['user_id'] = pred_data['user_id'].map(lambda value: users[value])
    pred_data['nama'] = pred_data['nama'].map(lambda value: dests[value])
    
    keys = ['user_id', 'nama']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['user_id', 'ratings'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('user_id').head(10)

epoch: 1 Loss: 0.3145644792488643
epoch: 2 Loss: 0.3101328622017588
epoch: 3 Loss: 0.2918482092874391
epoch: 4 Loss: 0.22979426862938063
epoch: 5 Loss: 0.11383699439466
epoch: 6 Loss: 0.04719820831503187
epoch: 7 Loss: 0.03655328841081688
epoch: 8 Loss: 0.036469047356929095
epoch: 9 Loss: 0.03648648703736918
epoch: 10 Loss: 0.03645131071763379
epoch: 11 Loss: 0.036411386515413015
epoch: 12 Loss: 0.03636415169707367
epoch: 13 Loss: 0.036289721461279054
epoch: 14 Loss: 0.036184429457145076
epoch: 15 Loss: 0.03605520525681121
epoch: 16 Loss: 0.035912826524249146
epoch: 17 Loss: 0.03576250161443438
epoch: 18 Loss: 0.035611899103969336
epoch: 19 Loss: 0.03546498230259333
epoch: 20 Loss: 0.03531557973474264
epoch: 21 Loss: 0.03517045599541494
epoch: 22 Loss: 0.035022719097988944
epoch: 23 Loss: 0.03487002284133008
epoch: 24 Loss: 0.03471263870596886
epoch: 25 Loss: 0.03453885757231286
epoch: 26 Loss: 0.034382090371634276
epoch: 27 Loss: 0.034222226456872056
epoch: 28 Loss: 0.034070799725928476
epoch: 29 Loss: 0.03392993865002479
epoch: 30 Loss: 0.03379076799111707
epoch: 31 Loss: 0.0336607546279473
epoch: 32 Loss: 0.03354459309152195
epoch: 33 Loss: 0.03343497196744595
epoch: 34 Loss: 0.033320205086576085
epoch: 35 Loss: 0.03324393143079111
epoch: 36 Loss: 0.03313333434717996
epoch: 37 Loss: 0.03304933350799339
epoch: 38 Loss: 0.032954598643950055
epoch: 39 Loss: 0.0328666068214391
epoch: 40 Loss: 0.03279509235705648
epoch: 41 Loss: 0.03269951245082276
epoch: 42 Loss: 0.03264044744095632
epoch: 43 Loss: 0.03257369276668344
epoch: 44 Loss: 0.032477885617741516
epoch: 45 Loss: 0.032454481215349266
epoch: 46 Loss: 0.032349129407001395
epoch: 47 Loss: 0.03230298769527248
epoch: 48 Loss: 0.032232550105878284
epoch: 49 Loss: 0.03220239281654358
epoch: 50 Loss: 0.03212749984647546
epoch: 51 Loss: 0.032093354035168886
epoch: 52 Loss: 0.03202259347641042
epoch: 53 Loss: 0.03199872241488525
epoch: 54 Loss: 0.03196458578375833
epoch: 55 Loss: 0.031900044198014905
epoch: 56 Loss: 0.031866395114255805
epoch: 57 Loss: 0.03181227542726057
epoch: 58 Loss: 0.03177093408469643
epoch: 59 Loss: 0.031738182197191885
epoch: 60 Loss: 0.031694125051477125
epoch: 61 Loss: 0.03165726802710976
epoch: 62 Loss: 0.031646636846874444
epoch: 63 Loss: 0.03162344731390476
epoch: 64 Loss: 0.03154836468664663
epoch: 65 Loss: 0.031532255467027426
epoch: 66 Loss: 0.03150621914703931
epoch: 67 Loss: 0.031478710539106815
epoch: 68 Loss: 0.031473927199840546
epoch: 69 Loss: 0.03140777090032186
epoch: 70 Loss: 0.031422367984695096
epoch: 71 Loss: 0.03137839938114796
epoch: 72 Loss: 0.031368664864982874
epoch: 73 Loss: 0.03131691100341933
epoch: 74 Loss: 0.03128734344084348
epoch: 75 Loss: 0.031318913879139085
epoch: 76 Loss: 0.03125767336626138
epoch: 77 Loss: 0.03125828444691641
epoch: 78 Loss: 0.031211449099438533
epoch: 79 Loss: 0.031214949940996512
epoch: 80 Loss: 0.031202769106520072
epoch: 81 Loss: 0.031173824399177517
epoch: 82 Loss: 0.03115053494860019
epoch: 83 Loss: 0.031111340570662702
epoch: 84 Loss: 0.031160381955227683
epoch: 85 Loss: 0.031097454617598226
epoch: 86 Loss: 0.031088362580963542
epoch: 87 Loss: 0.03107567390959178
epoch: 88 Loss: 0.031054973602294922
epoch: 89 Loss: 0.031031193477766856
epoch: 90 Loss: 0.030990364695233957
epoch: 91 Loss: 0.031055627457265342
epoch: 92 Loss: 0.030946317927113602
epoch: 93 Loss: 0.030988740069525584
epoch: 94 Loss: 0.030931864133370773
epoch: 95 Loss: 0.03095928712614945
epoch: 96 Loss: 0.030927142327917472
epoch: 97 Loss: 0.03088827125195946
epoch: 98 Loss: 0.03092121592323695
epoch: 99 Loss: 0.030873070870126997
epoch: 100 Loss: 0.030908707728875533
epoch: 101 Loss: 0.03080754168331623
epoch: 102 Loss: 0.03091814841276833
epoch: 103 Loss: 0.030866230971046855
epoch: 104 Loss: 0.03081537058044757
epoch: 105 Loss: 0.030809422422732626
epoch: 106 Loss: 0.030801020695694854
epoch: 107 Loss: 0.030815338383295705
epoch: 108 Loss: 0.030806529468723705
epoch: 109 Loss: 0.030735968013427088
epoch: 110 Loss: 0.030771367052303895
epoch: 111 Loss: 0.030772052040057524
epoch: 112 Loss: 0.030711837179426636
epoch: 113 Loss: 0.030752822756767273
epoch: 114 Loss: 0.03070904959791473
epoch: 115 Loss: 0.03068628428237779
epoch: 116 Loss: 0.030715691125286475
epoch: 117 Loss: 0.03065393665539367
epoch: 118 Loss: 0.030696730129420757
epoch: 119 Loss: 0.030679385443883284
epoch: 120 Loss: 0.030620420152055367
epoch: 121 Loss: 0.030662212454314743
epoch: 122 Loss: 0.030608637324933494
epoch: 123 Loss: 0.030662964696862867
epoch: 124 Loss: 0.030602038571877137
epoch: 125 Loss: 0.030635260843804905
epoch: 126 Loss: 0.030579396856150458
epoch: 127 Loss: 0.03061637089454702
epoch: 128 Loss: 0.030554677625851973
epoch: 129 Loss: 0.03057249741894858
epoch: 130 Loss: 0.030546070409140418
epoch: 131 Loss: 0.030566897243261337
epoch: 132 Loss: 0.030543571071965352
epoch: 133 Loss: 0.030540781428239176
epoch: 134 Loss: 0.03052785713225603
epoch: 135 Loss: 0.030519331805408
epoch: 136 Loss: 0.030521069520286152
epoch: 137 Loss: 0.03048281424811908
epoch: 138 Loss: 0.03047465586236545
epoch: 139 Loss: 0.03048232849687338
epoch: 140 Loss: 0.030430970380881002
epoch: 141 Loss: 0.030499353871813843
epoch: 142 Loss: 0.030471994940723692
epoch: 143 Loss: 0.030451246005083834
epoch: 144 Loss: 0.030458823312073946
epoch: 145 Loss: 0.03040118794888258
epoch: 146 Loss: 0.030456375729824816
epoch: 147 Loss: 0.030426489854497567
epoch: 148 Loss: 0.03039621515199542
epoch: 149 Loss: 0.030398273707500527
epoch: 150 Loss: 0.030441271673355783
epoch: 151 Loss: 0.030395000773881162
epoch: 152 Loss: 0.03040007089397737
epoch: 153 Loss: 0.030368248665971414
epoch: 154 Loss: 0.03033255765746747
epoch: 155 Loss: 0.03040222278130906
epoch: 156 Loss: 0.0303531545214355
epoch: 157 Loss: 0.030365831551275084
epoch: 158 Loss: 0.03031885244750551
epoch: 159 Loss: 0.030345281652574028
epoch: 160 Loss: 0.03034350828134588
epoch: 161 Loss: 0.03032791574618646
epoch: 162 Loss: 0.030318796235535826
epoch: 163 Loss: 0.030240354726889303
epoch: 164 Loss: 0.0303385010920465
epoch: 165 Loss: 0.030271185096353292
epoch: 166 Loss: 0.030277069658041
epoch: 167 Loss: 0.030301749440176145
epoch: 168 Loss: 0.0302474530679839
epoch: 169 Loss: 0.030297461631042615
epoch: 170 Loss: 0.030251114163547754
epoch: 171 Loss: 0.03026961608390723
epoch: 172 Loss: 0.030281863042286465
epoch: 173 Loss: 0.030207404401153326
epoch: 174 Loss: 0.030268034897744656
epoch: 175 Loss: 0.030182046815752983
epoch: 176 Loss: 0.030253575183451176
epoch: 177 Loss: 0.030230453171368157
epoch: 178 Loss: 0.030197414037372385
epoch: 179 Loss: 0.03018781150292073
epoch: 180 Loss: 0.030244123390210525
epoch: 181 Loss: 0.030215162451245954
epoch: 182 Loss: 0.030195848816739663
epoch: 183 Loss: 0.03019422565453819
epoch: 184 Loss: 0.03016862679006798
epoch: 185 Loss: 0.030208630287753686
epoch: 186 Loss: 0.030122540225940093
epoch: 187 Loss: 0.03019970961447273
epoch: 188 Loss: 0.030113694923264638
epoch: 189 Loss: 0.03016057570597955
epoch: 190 Loss: 0.030144781273390566
epoch: 191 Loss: 0.030171308001237258
epoch: 192 Loss: 0.03008622383432729
epoch: 193 Loss: 0.030104917607137134
epoch: 194 Loss: 0.030095031152346303
epoch: 195 Loss: 0.030161941224443062
epoch: 196 Loss: 0.03013516603303807
epoch: 197 Loss: 0.030100753929998194
epoch: 198 Loss: 0.030067451896944215
epoch: 199 Loss: 0.030078691696482047
epoch: 200 Loss: 0.03012283385864326
epoch: 201 Loss: 0.03009333474827664
epoch: 202 Loss: 0.03008706628211907
epoch: 203 Loss: 0.030043420049228838
epoch: 204 Loss: 0.03006870678759047
epoch: 205 Loss: 0.030061946915728704
epoch: 206 Loss: 0.030067417038870708
epoch: 207 Loss: 0.030096213266785656
epoch: 208 Loss: 0.030041378723191365
epoch: 209 Loss: 0.030144831631332636
epoch: 210 Loss: 0.03004595311358571
epoch: 211 Loss: 0.03005394632262843
epoch: 212 Loss: 0.0300398721093578
epoch: 213 Loss: 0.030049953343612806
epoch: 214 Loss: 0.03001285856589675
epoch: 215 Loss: 0.029972244519740343
epoch: 216 Loss: 0.030045306709195887
epoch: 217 Loss: 0.029983777020658766
epoch: 218 Loss: 0.03004407709730523
epoch: 219 Loss: 0.03003309407670583
epoch: 220 Loss: 0.029984676811311926
epoch: 221 Loss: 0.030028210819831917
epoch: 222 Loss: 0.029960114575390304
epoch: 223 Loss: 0.030027870354907855
epoch: 224 Loss: 0.029958331558321203
epoch: 225 Loss: 0.030000020350728716
epoch: 226 Loss: 0.029986165131309202
epoch: 227 Loss: 0.02995122144264834
epoch: 228 Loss: 0.029969934906278337
epoch: 229 Loss: 0.02998112720836486
epoch: 230 Loss: 0.0299149929944958
epoch: 231 Loss: 0.029977826068976095
epoch: 232 Loss: 0.029962965486837283
epoch: 233 Loss: 0.029979087079742124
epoch: 234 Loss: 0.029919609693544253
epoch: 235 Loss: 0.02990742333765541
epoch: 236 Loss: 0.029954498633742332
epoch: 237 Loss: 0.029886832926422358
epoch: 238 Loss: 0.02992174661319171
epoch: 239 Loss: 0.029955385119787285
epoch: 240 Loss: 0.029894035974783555
epoch: 241 Loss: 0.029914983814316138
epoch: 242 Loss: 0.02988835297791021
epoch: 243 Loss: 0.029874284951282398
epoch: 244 Loss: 0.029918221224631582
epoch: 245 Loss: 0.029969837050884962
epoch: 246 Loss: 0.0298073670294668
epoch: 247 Loss: 0.029913473142577068
epoch: 248 Loss: 0.02995326296825494
epoch: 249 Loss: 0.029815567324736288
epoch: 250 Loss: 0.029912200157663653
epoch: 251 Loss: 0.029865300548928126
epoch: 252 Loss: 0.02989108328308378
epoch: 253 Loss: 0.02978325409016439
epoch: 254 Loss: 0.029922314986054386
epoch: 255 Loss: 0.029809701456023113
epoch: 256 Loss: 0.029849061742424965
epoch: 257 Loss: 0.02984365973887699
epoch: 258 Loss: 0.02986088295334152
epoch: 259 Loss: 0.029851585493556092
epoch: 260 Loss: 0.029856489838234017
epoch: 261 Loss: 0.029885953491819755
epoch: 262 Loss: 0.029801214912108014
epoch: 263 Loss: 0.029843940599156276
epoch: 264 Loss: 0.029840072018227408
epoch: 265 Loss: 0.029833005741238594
epoch: 266 Loss: 0.029802860426051275
epoch: 267 Loss: 0.029813691774117097
epoch: 268 Loss: 0.029841430950909853
epoch: 269 Loss: 0.029847983536975726
epoch: 270 Loss: 0.029794717407120124
epoch: 271 Loss: 0.029840814481888498
epoch: 272 Loss: 0.029852967908872024
epoch: 273 Loss: 0.02976731177685516
epoch: 274 Loss: 0.029746272335095063
epoch: 275 Loss: 0.02981525692822678
epoch: 276 Loss: 0.029797422899199382
epoch: 277 Loss: 0.029811727681330273
epoch: 278 Loss: 0.02977738529443741
epoch: 279 Loss: 0.02982861249308501
epoch: 280 Loss: 0.029705014678516557
epoch: 281 Loss: 0.029788315828357424
epoch: 282 Loss: 0.029748514893331697
epoch: 283 Loss: 0.0298362597823143
epoch: 284 Loss: 0.02977132484582918
epoch: 285 Loss: 0.029798587850694145
epoch: 286 Loss: 0.029767530438091074
epoch: 287 Loss: 0.029699111689946482
epoch: 288 Loss: 0.02973751224843519
epoch: 289 Loss: 0.029743996781430075
epoch: 290 Loss: 0.02981599061084645
epoch: 291 Loss: 0.02975734376481601
epoch: 292 Loss: 0.02976116837401475
epoch: 293 Loss: 0.02973442923809801
epoch: 294 Loss: 0.029676937897290503
epoch: 295 Loss: 0.029741776242320026
epoch: 296 Loss: 0.029788613452443054
epoch: 297 Loss: 0.029727725578205928
epoch: 298 Loss: 0.029839353170245886
epoch: 299 Loss: 0.029672228332076753
epoch: 300 Loss: 0.029760037548840046
epoch: 301 Loss: 0.02972301867391382
epoch: 302 Loss: 0.02972715687272804
epoch: 303 Loss: 0.02971967382888709
epoch: 304 Loss: 0.02971328395817961
epoch: 305 Loss: 0.02969945142311709
epoch: 306 Loss: 0.02975483684401427
epoch: 307 Loss: 0.02971439143376691
epoch: 308 Loss: 0.02972360939851829
epoch: 309 Loss: 0.029702816025487015
epoch: 310 Loss: 0.029732410795986652
epoch: 311 Loss: 0.029717705877763883
epoch: 312 Loss: 0.02973629261500069
epoch: 313 Loss: 0.02976188449455159
epoch: 314 Loss: 0.029702519731862203
epoch: 315 Loss: 0.029628459696791003
epoch: 316 Loss: 0.02976173348724842
epoch: 317 Loss: 0.029707809311470816
epoch: 318 Loss: 0.029676563904753754
epoch: 319 Loss: 0.029710029251873493
epoch: 320 Loss: 0.02977301393236433
epoch: 321 Loss: 0.029675218476248637
epoch: 322 Loss: 0.02968060870521835
epoch: 323 Loss: 0.029716514516621828
epoch: 324 Loss: 0.029687927370624884
epoch: 325 Loss: 0.029678979023758854
epoch: 326 Loss: 0.02969611535913178
epoch: 327 Loss: 0.029726599675736258
epoch: 328 Loss: 0.029665258646543537
epoch: 329 Loss: 0.02969613910785743
epoch: 330 Loss: 0.029631372009004866
epoch: 331 Loss: 0.029656463036579744
epoch: 332 Loss: 0.029827683631862913
epoch: 333 Loss: 0.02967061534790056
epoch: 334 Loss: 0.029680146170513972
epoch: 335 Loss: 0.02968338710655059
epoch: 336 Loss: 0.02965307714683669
epoch: 337 Loss: 0.029667630725141083
epoch: 338 Loss: 0.029668463061430624
epoch: 339 Loss: 0.029639468661376407
epoch: 340 Loss: 0.029664891372833933
epoch: 341 Loss: 0.029647571300821646
epoch: 342 Loss: 0.029634425616157905
epoch: 343 Loss: 0.029671292818550552
epoch: 344 Loss: 0.029618650741342987
epoch: 345 Loss: 0.02967826503195933
epoch: 346 Loss: 0.029680342014346803
epoch: 347 Loss: 0.029619252907910516
epoch: 348 Loss: 0.029660888481885195
epoch: 349 Loss: 0.029697478083627566
epoch: 350 Loss: 0.029622063639440706
epoch: 351 Loss: 0.029576241238308803
epoch: 352 Loss: 0.02964657624917371
epoch: 353 Loss: 0.02965831769896405
epoch: 354 Loss: 0.02962240031255143
epoch: 355 Loss: 0.029670710542372296
epoch: 356 Loss: 0.029594297321247204
epoch: 357 Loss: 0.029587419370987585
epoch: 358 Loss: 0.029665207556848015
epoch: 359 Loss: 0.029609072487801313
epoch: 360 Loss: 0.029649899141596898
epoch: 361 Loss: 0.029698154889047146
epoch: 362 Loss: 0.02960437030664512
epoch: 363 Loss: 0.029660585269864117
epoch: 364 Loss: 0.029590731686247245
epoch: 365 Loss: 0.02965396915429405
epoch: 366 Loss: 0.029573895768927678
epoch: 367 Loss: 0.02957391825371555
epoch: 368 Loss: 0.029667745676956007
epoch: 369 Loss: 0.029571704300386564
epoch: 370 Loss: 0.02957919060385653
epoch: 371 Loss: 0.029653895579810654
epoch: 372 Loss: 0.029584749535258328
epoch: 373 Loss: 0.02958406461402774
epoch: 374 Loss: 0.029652024087096964
epoch: 375 Loss: 0.02961984250162329
epoch: 376 Loss: 0.029602928619299616
epoch: 377 Loss: 0.029554923730237142
epoch: 378 Loss: 0.029657046244080578
epoch: 379 Loss: 0.029585462795304402
epoch: 380 Loss: 0.02960209787956306
epoch: 381 Loss: 0.029544356079506024
epoch: 382 Loss: 0.029640227423182557
epoch: 383 Loss: 0.02960788112665926
epoch: 384 Loss: 0.029545703370656286
epoch: 385 Loss: 0.02962301897683314
epoch: 386 Loss: 0.029630251095763276
epoch: 387 Loss: 0.02958673717720168
epoch: 388 Loss: 0.02957621868699789
epoch: 389 Loss: 0.029615833224462613
epoch: 390 Loss: 0.029549235943704844
epoch: 391 Loss: 0.029597929878426448
epoch: 392 Loss: 0.029592558342431272
epoch: 393 Loss: 0.029557445951338326
epoch: 394 Loss: 0.02956168885741915
epoch: 395 Loss: 0.02951757683019553
epoch: 396 Loss: 0.029596155509352684
epoch: 397 Loss: 0.029587423029754843
epoch: 398 Loss: 0.029508616110043868
epoch: 399 Loss: 0.029589092824608088
epoch: 400 Loss: 0.02957998568724309
epoch: 401 Loss: 0.029572024874921356
epoch: 402 Loss: 0.029573867230543067
epoch: 403 Loss: 0.029567470840577568
epoch: 404 Loss: 0.029630673051412617
epoch: 405 Loss: 0.029524570796638727
epoch: 406 Loss: 0.029576661863497326
epoch: 407 Loss: 0.029623018644217933
epoch: 408 Loss: 0.029536291424717222
epoch: 409 Loss: 0.029603169499231235
epoch: 410 Loss: 0.029556155870003358
epoch: 411 Loss: 0.029568805492350032
epoch: 412 Loss: 0.029505234145160233
epoch: 413 Loss: 0.02951157678450857
epoch: 414 Loss: 0.02957921821091856
epoch: 415 Loss: 0.029536410234868526
epoch: 416 Loss: 0.029550246694790467
epoch: 417 Loss: 0.02954449604398438
epoch: 418 Loss: 0.029468596181167022
epoch: 419 Loss: 0.029531990909682854
epoch: 420 Loss: 0.029611488338559866
epoch: 421 Loss: 0.02943695443017142
epoch: 422 Loss: 0.029569701690758978
epoch: 423 Loss: 0.029528009106538126
epoch: 424 Loss: 0.029535713672105755
epoch: 425 Loss: 0.02952034811356238
epoch: 426 Loss: 0.02949702101094382
epoch: 427 Loss: 0.02950808372614639
epoch: 428 Loss: 0.029487028185810362
epoch: 429 Loss: 0.02952912582882813
epoch: 430 Loss: 0.029505567758211067
epoch: 431 Loss: 0.029515864527119056
epoch: 432 Loss: 0.029529583108212267
epoch: 433 Loss: 0.02949450078553387
epoch: 434 Loss: 0.029514992809189216
epoch: 435 Loss: 0.029518783890775273
epoch: 436 Loss: 0.029518064044948136
epoch: 437 Loss: 0.029533985935683762
epoch: 438 Loss: 0.02948881053764905
epoch: 439 Loss: 0.029564350776906525
epoch: 440 Loss: 0.029465077644480125
epoch: 441 Loss: 0.029479182924010923
epoch: 442 Loss: 0.02950538382200258
epoch: 443 Loss: 0.029525341599115303
epoch: 444 Loss: 0.02956558730719345
epoch: 445 Loss: 0.0294972770581288
epoch: 446 Loss: 0.02946721749114139
epoch: 447 Loss: 0.02959880286029407
epoch: 448 Loss: 0.029440837180508033
epoch: 449 Loss: 0.029527341348252127
epoch: 450 Loss: 0.029500831317688738
epoch: 451 Loss: 0.02947543455021722
epoch: 452 Loss: 0.029534152642424618
epoch: 453 Loss: 0.029434284461396083
epoch: 454 Loss: 0.02949250828740852
epoch: 455 Loss: 0.029491537849285772
epoch: 456 Loss: 0.029496598257017986
epoch: 457 Loss: 0.02960218894960625
epoch: 458 Loss: 0.02939966520560639
epoch: 459 Loss: 0.029494527261704206
epoch: 460 Loss: 0.029471446493906633
epoch: 461 Loss: 0.029531313172940696
epoch: 462 Loss: 0.029487673126693283
epoch: 463 Loss: 0.029566143373293535
epoch: 464 Loss: 0.02941733691841364
epoch: 465 Loss: 0.02946161831329976
epoch: 466 Loss: 0.029527497677398578
epoch: 467 Loss: 0.02949056581461004
epoch: 468 Loss: 0.02945190408666219
epoch: 469 Loss: 0.02944608305447868
epoch: 470 Loss: 0.029479930443423136
epoch: 471 Loss: 0.02946983417496085
epoch: 472 Loss: 0.029447317189936126
epoch: 473 Loss: 0.02945606962644628
epoch: 474 Loss: 0.0294496374470847
epoch: 475 Loss: 0.029505051406366483
epoch: 476 Loss: 0.029387680481054952
epoch: 477 Loss: 0.02949310852480786
epoch: 478 Loss: 0.029469596754227365
epoch: 479 Loss: 0.029407766181975603
epoch: 480 Loss: 0.029440197361899272
epoch: 481 Loss: 0.02951698956478919
epoch: 482 Loss: 0.029440772453589097
epoch: 483 Loss: 0.029415391385555267
epoch: 484 Loss: 0.029412580654025078
epoch: 485 Loss: 0.029454534141612903
epoch: 486 Loss: 0.02949454788384693
epoch: 487 Loss: 0.029461345967969725
epoch: 488 Loss: 0.029471705268536295
epoch: 489 Loss: 0.02946241925071393
epoch: 490 Loss: 0.029433570270027434
epoch: 491 Loss: 0.029445905970143422
epoch: 492 Loss: 0.029333429743668864
epoch: 493 Loss: 0.029414146606411253
epoch: 494 Loss: 0.029563394308622395
epoch: 495 Loss: 0.029357066644089564
epoch: 496 Loss: 0.029426656530371735
epoch: 497 Loss: 0.02945848068754588
epoch: 498 Loss: 0.02945547504350543
epoch: 499 Loss: 0.029381029906549623
epoch: 500 Loss: 0.029451857786625624

After 500 epochs of training, we saved the recommendation in `top_ten_ranked` pandas dataframe, which saved top ten ranked destination recommendation for each user.

Below example top ten ranked destinations for user 3 and user 123

In [40]:
top_ten_ranked.loc[top_ten_ranked['user_id'] == 154]

       user_id                    nama   ratings
18827      154  Camera House Borobudur  0.226843
18895      154        Pantai Ngrenehan  0.153823
18882      154            Omah Petroek  0.125990
18936      154             Watu Goyang  0.112464
18822      154           Bukit Klangon  0.095267
18828      154        Candi ASU Klaten  0.091231
18848      154        Gembira Loka Zoo  0.089614
18821      154       Blue Lagoon Jogja  0.079157
18938      154  Wisata Alam Watu Amben  0.078585
18825      154       Bukit Teletubbies  0.078355

In [39]:
dest_rating.loc[dest_rating['user_id'] == 154]

       user_id  index  ratings                                  nama
111        154     29        2             Agro Tourism Bhumi Merapi
2432       154     38        1  Pantai Cemara Sewu Bantul Yogyakarta
2982       154     23        2            Bukit Paralayang Watugupit
5832       154    141        5          Wisata Air Wanatirta Kencana
7341       154     65        2                    Museum HM Soeharto
8548       154     19        2                             Ratu Boko
8861       154      6        3           Hutan Pinus Mangunan Dlingo
10539      154     81        1                   Kebun Buah Mangunan
11085      154     63        3           Pemecah Ombak Pantai Glagah
11187      154     79        3                         Pantai Glagah
11500      154      5        5                            Taman Sari
13275      154     62        3                      Galaxy Waterpark

In [35]:
top_ten_ranked

        user_id                                nama   ratings
93            1              Ramadanu flower garden  0.597280
46            1                 Kebun Buah Mangunan  0.333036
24            1             Desa Wisata Pentingsari  0.169195
39            1                           Jogja Bay  0.148575
32            1                        Goa Kiskendo  0.129310
...         ...                                 ...       ...
122980     1000       Taman Lampion (Taman Pelangi)  0.194220
122925     1000              Kids Fun Galleria Mall  0.133518
122939     1000                      Ngobaran Beach  0.131618
122935     1000  Museum Monumen Pangeran Diponegoro  0.123365
122940     1000                        Omah Petroek  0.116103

[10000 rows x 3 columns]

In [36]:
top_ten_ranked.to_csv(r'top_ten_ranked.csv', index = False, header=True)